@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6C83FF; 
    font-family: sans-serif; 
    -webkit-font-smoothing: antialiased;
}

p {
    font-family: sans-serif; 
    font-size: 14px;
}